<template>
<div>




<table class="table table-responsive" v-if="destinations.length > 0">
    <tbody>
        <tr v-for="(destination, index) in destinations" v-bind:key="destination.id">
            <td>{{ index+1 }}</td>
            <td>{{ destination.title }}</td>
            <td>{{ destination.description }}</td>
        </tr>
    </tbody>
</table>

</div>
</template>

<script>
    export default{
        data(){
            return{
                destination: {
                    title: ''
                },
                errors: [],
                destinations: []
            }
        },

        mounted(){
            this.readDestinations();
        },

        methods: {
            readDestinations(){
                axios.get('/destination').then(response => {
                    this.destinations = response.data.destinations;
                });
            }

        }

    }
</script>